snippet Bundle "Plugin from git" b
Bundle '${1:Plugin}'
$0
endsnippet


snippet function! "function define" b
function! ${1:functionName}(${2:param})
${3:stuff}
return '${4:returnStuff}'
$0
endsnippet
